.flex-item {
    margin: 5px;
    background-color: orangered;
    padding: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.flex-container {
    background-color: burlywood;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}